/* initial */
@media (hover: hover) {
  html {
    width: 430px;
    margin: 0 auto;
  }
}

/* ( 크롬, 사파리, 오페라, 엣지 ) 동작 */
body::-webkit-scrollbar,
.items::-webkit-scrollbar,
.page::-webkit-scrollbar {
  display: none;
}

.container {
  position: relative;
  height: 100%;
  margin: 0 auto;
}

.background {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background-image: url("../image/background.png");
  z-index: -1;
}

@media (max-width: 430px) {
  .background {
    background-size: contain;
  }
}

@media (hover: hover) {
  .background {
    width: 430px;
  }
}

body {
  margin: 0%;
}

p {
  font-size: 2vh;
  font-weight: 600;
}

hr {
  border: 1px solid black;
  margin-bottom: 5%;
}

.top-buttons {
  display: flex;
  justify-content: space-between;
  padding: 3%;
}

.top-buttons img {
  width: 32px;
}

.title {
  padding-left: 5%;
  padding-right: 5%;
}

.page {
  height: 60vh;
  overflow-y: scroll;
}

.detail {
  padding-left: 5%;
  padding-right: 5%;
}

.detail h3 {
  margin: 0;
}

.reples {
  padding-left: 5%;
  padding-right: 5%;
}

.reples h3 {
  margin: 0;
}

.user-info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.reple hr {
  opacity: 40%;
}
.add-reples {
  background: rgba(238, 238, 238, 1);
  margin-left: 3%;
  margin-right: 3%;
  height: 60px;
  border-radius: 15px;
  bottom: 85px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.add-reples-textbox {
  width: 80%;
  background: none;
  border: none;
}

.add-reples button {
  height: 30px;
  width: 50px;
  border: none;
  background: rgba(151, 97, 78, 1);
  color: white;
  border-radius: 20px;
}

.nav {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 66px;
  background-image: url("../images//background/background.png");
  border-radius: 20px 20px 0 0;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

@media (max-width: 430px) {
  .nav {
    background-size: contain;
  }
}

@media (hover: hover) {
  .nav {
    width: 430px;
  }
}

.nav img {
  height: 50px;
}

.sec {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
