/* initial */
@media (hover: hover) {
    html {
        width: 430px;
        margin: 0 auto;
    }
}

img {
    width: auto;
    height: 100%;
}

body {
    margin: 0;
    font-family: "Judson";
    overflow-x: hidden;
}

.container {
    position: relative;
    height: 100%;
    margin: 0 auto;
}

a:link,
a:visited {
    text-decoration: none;
}

p {
    margin: 0;
}

/* background */
.background {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    background-image: url("../image/background.png");
    z-index: -1;
}

@media (max-width: 430px) {
    .background {
        background-size: contain;
    }
}

@media (hover: hover) {
    .background {
        width: 430px;
    }
}

/* header */
.hd {
    position: fixed;
    top: 0;
    width: 100%;
    height: 58px;
    background-image: url("../image/background.png");
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media (hover: hover) {
    .hd {
        width: 430px;
    }
}

.hd-back img {
    margin-left: 15px;
}

.hd-logo img {
    width: 100px;
}

.hd-profile img {
    height: 35px;
    margin-top: 4px;
    margin-right: 15px;
}

.page-title {
    margin: 0 3vw;
    font-size: 4vh;
}

.inform {
    margin: 0 20px;
    margin-top: 58px;
}

.title {
    border-bottom: 2.5px solid black;
}

.title p {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 10px;
}

/* navigation */
.nav {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 66px;
    background-image: url("../image/background.png");
    border-radius: 20px 20px 0 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

@media (max-width: 430px) {
    .nav {
        background-size: contain;
    }
}

@media (hover: hover) {
    .nav {
        width: 430px;
    }
}

.nav img {
    height: 50px;
}

/* section */
.sec {
    height: calc(100vh - 58px - 66px - 53px);
    overflow-y: hidden;
}

/* 멘트 */
#explanation {
    margin: 0 auto;
    width: 90%;
}

#mention {
    font-size: 10px;
}

/* 정보 입력 */

.user {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 14vh;
}

#login_btn {
    width: 50%;
    height: 5vh;
    margin: 0 auto;
    text-align: center;
    padding: 1vh 2vh;
    font-size: 14px;
    font-weight: 700;
    border-radius: 25px;
    background-color: #7f6044;
    color: white;
    border: none;
}
