/* initial */
@media (hover: hover) {
    html {
        width: 430px;
        margin: 0 auto;
    }
}

img {
    width: auto;
    height: 100%;
}

body {
    margin: 0;
    font-family: "Judson";
    overflow-x: hidden;
}

.container {
    position: relative;
    height: 100%;
    margin: 0 auto;
}

a:link,
a:visited {
    text-decoration: none;
}

p {
    margin: 0;
}

/* background */
.background {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    background-image: url("./images/background.png");
    z-index: -1;
}

@media (max-width: 430px) {
    .background {
        background-size: contain;
    }
}

@media (hover: hover) {
    .background {
        width: 430px;
    }
}

/* background */
.background {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    background-image: url("../image/background.png");
    z-index: -1;
}

@media (max-width: 430px) {
    .background {
        background-size: contain;
    }
}

@media (hover: hover) {
    .background {
        width: 430px;
    }
}

/* header */
.hd {
    position: fixed;
    top: 0;
    width: 100%;
    height: 58px;
    background-image: url("../image/background.png");
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media (hover: hover) {
    .hd {
        width: 430px;
    }
}

.hd-back img {
    margin-left: 15px;
}

.hd-logo img {
    width: 100px;
}

.hd-profile img {
    height: 35px;
    margin-top: 4px;
    margin-right: 15px;
}

.page-title {
    margin: 0 3vw;
    font-size: 4vh;
}

.inform {
    margin: 0 20px;
    margin-top: 58px;
}

.title {
    border-bottom: 2.5px solid black;
}

.title p {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 10px;
}

/* navigation */
.nav {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 66px;
    background-image: url("../image/background.png");
    border-radius: 20px 20px 0 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

@media (max-width: 430px) {
    .nav {
        background-size: contain;
    }
}

@media (hover: hover) {
    .nav {
        width: 430px;
    }
}

.nav img {
    height: 50px;
}

/* section */
.sec {
    height: calc(100vh - 58px - 66px - 53px);
    overflow-y: scroll;
}

.sec::-webkit-scrollbar {
    width: 12px; /* 스크롤바의 너비 */
}

.sec::-webkit-scrollbar-thumb {
    height: 30%; /* 스크롤바의 길이 */
    background: #7f6044; /* 스크롤바의 색상 */
    border-radius: 10px;
}

.sec::-webkit-scrollbar-track {
    background: #ccb89d; /*스크롤바 뒷 배경 색상*/
    border-radius: 10px;
}

/*드롭다운 메뉴 선택*/
.country {
    width: 200px;
    height: 30px;
    background-color: #ede1d1;
    border-radius: 20px;
    padding-left: 10px;
}

#search {
    width: 60px;
    height: 30px;
    background-color: #ede1d1;
    border-radius: 20px;
    padding-left: 10px;
    text-align: center;
    margin-left: 10px;
}

.choice {
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    justify-content: center;
}

/*식당추천박스*/
#box > img {
    height: 100px;
    margin-top: 10px;
}

#box {
    width: 70%;
    height: 200px;
    border-radius: 15px;
    background-color: #ede1d1;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    font-size: 15px;

    margin-bottom: 30px;
    border: none;
    padding-bottom: 10px;
}

#box > span {
    margin-bottom: 10px;
}

.review {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
    padding-bottom: 15px;
}

.place > img {
    width: 20px;
}

/* drop down */
#input-unit {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: end;
    margin-bottom: 1vh;
    font-family: "Judson";
    margin-top: 5vh;
    margin-left: 1.5vw;
}

#input-dropdown {
    height: 40px;
    margin: 0;
    outline: 0;
    border: 1.5px solid #000;
    background-color: #ede1d1;
    padding: 6px;
    border-radius: 25px;
    font-family: "Judson";
    /* text-align: center; */
}

/* 국가 미 선택 시 모달창 */
.modal_wrap {
    border-radius: 10px;
    width: 90%;
    height: 380px;
    /*모달창 가운데 배치*/
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -190px 0 0 -45%;
    display: none;
    z-index: 2;
    background-color: #fff;
    text-align: center;
}

.modal_wrap.show-modal {
    display: block;
}

.modal_background.show-modal {
    display: block;
}

.modal_background {
    position: absolute;
    width: 100%;
    height: calc(100% + 58px);
    background-color: rgba(217, 217, 217, 0.5);
    top: -58px;
    left: 0;
    z-index: 1;
    display: none;
}

.modal_close {
    position: absolute;
    width: 100%;
    top: 5px;
    box-sizing: border-box;
    padding: 12px 20px;
    display: flex;
    justify-content: end;
    cursor: pointer;
}

.modal_close img {
    height: 20px;
}

.modal_text {
    margin: 0 auto;
    position: absolute;
    top: 75px;
    width: 100%;
}

.modal_logo > img {
    width: 150px;
}

.modal_content {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.modal_mention {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 200px;
    height: 100px;
    background-color: #ede1d1;
    border-radius: 15px;
    font-size: 20px;
    font-weight: bold;

    padding: 0 20px;
}
