/* initial */
@media (hover: hover) {
    html {
        width: 430px;
        margin: 0 auto;
    }
}

img {
    width: auto;
    height: 100%;
}

body {
    margin: 0;
    font-family: "Judson";
    overflow-x: hidden;
}

.container {
    position: relative;
    height: 100%;
    margin: 0 auto;
}

a:link,
a:visited {
    text-decoration: none;
}

p {
    margin: 0;
}

/* background */
.background {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    background-image: url("../image/background.png");
    z-index: -1;
}

@media (max-width: 430px) {
    .background {
        background-size: contain;
    }
}

@media (hover: hover) {
    .background {
        width: 430px;
    }
}

/* header */
.hd-content {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 6px;
}
.hd {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100px;
    background-image: url("../images/background/background.png");
}

@media (hover: hover) {
    .hd {
        width: 430px;
    }
}

.hd-back {
    width: 50px;
}
#back-button {
    border: none;
    background-image: url("../images/background/background.png");
}

#back-button img {
    height: 35px;
}

.hd-profile img {
    height: 35px;
    margin-top: 4px;
    margin-right: 15px;
}

.page-title {
    margin: 0 3vw;
    font-size: 4vh;
}

#title-hr {
    margin: 4px;
}

/* navigation */
.nav {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 66px;
    background-image: url("../images//background/background.png");
    border-radius: 20px 20px 0 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

@media (max-width: 430px) {
    .nav {
        background-size: contain;
    }
}

@media (hover: hover) {
    .nav {
        width: 430px;
    }
}

.nav img {
    height: 50px;
}

/* section */
.sec {
    height: calc(100vh - 100px - 66px);
    margin-top: 100px;
    overflow-y: scroll;
    background-image: url("../images//background/background.png");
}

/* form */

.user {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 8vh;
    margin-bottom: 5rem;
}

.email-input {
    margin: 2vh;
    margin-bottom: 0;
}

.name-input {
    margin: 2vh;
    margin-bottom: 0;
}

.id-input {
    margin: 2vh;
    margin-bottom: 0;
}

.pw-input {
    margin: 2vh;
    margin-bottom: 0;
}
.pw-confirm {
    margin: 2vh;
}

.highlights {
    color: #7f6044;
    font-weight: bold;
}

.txt {
    font-weight: bold;
    font-size: 14px;
}

#email,
#name,
#id,
#pw1,
#pw2 {
    margin-top: 10px;
    margin-bottom: 10px;
    width: 320px;
    height: 46px;
    background-color: #fff;
    border-radius: 5px;
    /* border: none; */
    border: 0.5px solid #a7a5a5;
    padding-left: 10px;
}

.sub-txt {
    color: #7f6044;
    font-size: 10px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

#signup_btn {
    width: 50%;
    margin: 0 auto;
    text-align: center;
    padding: 1vh 2vh;
    border: none;
    background-color: #7f6044;
    color: #fff;
    border-radius: 25px;
    margin-top: 5vh;
}
